:root {
  --clr-primary-300: hsl(203, 28%, 79%);
  --clr-primary-400: hsl(205, 37%, 55%);
  --clr-primary-500: hsl(203, 22%, 55%);
  --clr-primary-800: hsl(205, 30%, 27%);
  --clr-primary-900: hsl(206, 45%, 15%);
  
  --clr-accent-500: hsl(37, 98%, 54%);
  --clr-accent-400: hsla(37, 98%, 67%);

  --clr-neutral-200: hsl(0, 0%, 95%);
  --clr-neutral-100: hsl(0, 0%, 99%);

  --ff-base: 'Atkinson Hyperlegible', sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-300: 1.125rem;
  --fs-400: 1.25rem;
  --fs-500: 1.625rem;
  --fs-600: 2rem;
  --fs-700: 2.75rem;
  --fs-800: 3rem;
  --fs-900: 3.5rem;

  --size-100: 0.65rem;
  --size-200: 1.125rem;
  --size-300: 1.625rem;
  --size-400: 1.625rem;
  --size-500: 1.625rem;
  --size-600: 2rem;
  --size-700: 1.625rem;
  --size-800: 1.625rem;
  --size-900: 3.5rem;

  --border-r-box: 1.25rem;
  --border-r-btn: 1.625rem;
}

/* ------- RESET ---------- */

/* Box sizing rules */
*, 
*::before, 
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

/* Set body properties */
body {
  line-height: 1.5;
  font-family: var(--ff-base);
  background-color: var(--clr-primary-900);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-bold);
}

/* Remove list styles (bullets) */
ul {
  list-style: none;
}

/* Remove default text decoration for anchor links */
a {
  text-decoration: none;
}

/* Style h1 text */
h1 {
  text-align: center;
  font-size: var(--fs-700);
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* ------- UTILITY CLASSES ---------- */
.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 60rem;
  margin-block-start: 5rem;
}

.bg-light {
  background-color: var(--clr-neutral-100);
}

.bg-dark {
  background-color: var(--clr-primary-900);
}

/* ------- COMPONENTS ---------- */
.content {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  max-width: 654px;
  row-gap: var(--size-600);
  padding: var(--size-900);
  background-color: var(--clr-neutral-100);
  border-radius: var(--border-r-box);
}

.section-wrapper {
  display: flex;
  column-gap: var(--size-200);
}

.heading-secondary {
  font-size: var(--fs-400);
  color: var(--clr-primary-500);
  margin-block-end: var(--size-100);
}

.tab {
  width: 100%;
  text-align: center;
  background-color: var( --clr-primary-300);
  font-size: var(--fs-500);
  padding: var(--size-100);
  border-radius: var(--border-r-btn);
  cursor: pointer;
}

.selected {
  background-color: var(--clr-primary-900);
}

.btn {
  display: block;
  border-radius: var(--border-r-btn);
  font-size:  var(--fs-500);
  font-weight: var(--fw-bold);
  padding: 0.81rem 1.81rem;
  background-color: var(--clr-accent-500);
  color: var(--clr-neutral-100);
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: var(--clr-accent-400);
}

/* game page */
.game-content-container {
  max-width: 50rem;
  margin-inline: auto;
}

.header {
  display: flex;
  max-width: 69.375rem;
  height: 3.25rem;
  margin-inline: auto;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10rem;
  margin-block: 4.19rem;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.new-game-btn {
  background-color: #DFE7EC;
  color: var(--clr-primary-800);
  font-size: var(--fs-400);
}

.restart-btn,
.new-game-btn {
  font-size: var(--fs-400);
}

.grid {
  display: grid;
  margin-inline: auto;
  gap: 1rem;
}

.grid-4 {
  max-width: 33.25rem;
  grid-template-columns: repeat(4, 1fr);
}

.grid-6 {
  max-width: 35.75rem;
  grid-template-columns: repeat(6, 1fr);
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--size-900);
  background-color: var(--clr-primary-800);
  color: var(--clr-primary-300);
  border-radius: 50%;
}

.card-active {
  background-color: var(--clr-accent-500);
  color: var(--clr-neutral-100);
}

.card-done {
  background-color: var(--clr-primary-300);
  color: var(--clr-neutral-100);
}

.card-4 {
  width: 7.375rem;
  height: 7.375rem;
}

.card-6 {
  width: 5.125rem;
  height: 5.125rem;
}

.actions {
  max-width: 33.75rem;
  margin-inline: auto;
  display: flex;
  gap: 1.875rem;
}

.actions-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.31rem 1.56rem;
  border-radius: var(--border-r-box);
  background-color: #DFE7EC;
}

.actions-name {
  font-size: var(--size-200);
  color: var(--clr-primary-500);
}

.actions-value {
  font-size: var(--size-600);
  color: var(--clr-primary-900);
}